body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* Updated CSS for legend below */
.info {
  background-color: white;
  font-size: 12px;
  padding: 10px;
  border: 5px solid #ccc;
}

.legend-title {
  font-weight: bold;
  margin-bottom: 5px;
}
/* Add background color for the legend colors */
.legend-color {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 5px;
}